.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.navbar {
    border-radius: 0px;
/ / Сбросить флажок
}

.panel-primary > .panel-heading {
    background-color: #333333;
    border-color: #333333;
}

.panel {
    background-color: #eeeeee;
}

.panel-primary {
    border-color: #333333;
}

.btn-default {
    background-color: #333333;
    border-color: #333333;
}

.body {
    color: #333333;
}

.btn-default:hover {
    background-color: #999999;
    border-color: #999999;
}

a {
    color: #FFFFFF;
}

.panel-primary > .panel-heading {
    background-color: #333333;
    border-color: #333333;
}

.panel-primary {
    color: #333333;
}

.btn-info {
    border-color: #333333;
}

.btn-info:hover {
    border-color: #333333;
}

.panel-info > .panel-heading {
    border-color: #333333;
    color: #ffffff;
    background-color: #333333;
}

.panel-info {
    border-color: #333333;
}

.btn-info {
    background-color: #333333;
}

.btn-default {
    background-color: #999999;
}

.btn-default.focus, .btn-default:focus {
    background-color: #333333;
}

.btn-default.focus, .btn-default:focus {
    color: #FFFFFF;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}

.btn-default {
    background-color: #333333;
}

.btn-default {
    color: #FFFFFF;
}

.panel-heading {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.panel-info {
    border-style: none;

}

.panel > .panel-heading {
    border-radius: 4px;
}

body {
    color: #FFFFFF;
}

.modal-content {
    background-color: #333333;
}

.modal-header {
    border-bottom: 1px solid #333333;
}

.panel-default > .panel-heading {
    background-color: #eeeeee;
    border-color: #000000;
    color: #000000;
}

.panel {
    background-color: #eeeeee;
    border-radius: 5px;
    border: 1px solid transparent;
}

.close:focus, .close:hover {
    color: #FFFFFF;
}

button.close {
    color: #FFFFFF;
}

.close:focus, .close:hover {
    color: #FFFFFF;
}

.modal-footer {
    border-top: 1px solid #333333;
}

.btn {
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
}

#fs_wrapper {
    min-height: 100%;
    background: #0000;
}

a:focus, a:hover {
    color: #00b8f4;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #333333;
    border-color: #333333;
}

.btn-primary:hover {
    background-color: #999999;
    border-color: #999999;
}

.btn-primary {
    background-color: #333333;
    border-color: #333333;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: overlay;
}

.badge {
    float: right;
}

#gotop_fab {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00b8f4; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#gotop_fab:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}