<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>CyberOWL</title>
    <link rel="icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="/static/node_modules/toastr/build/toastr.css">
    <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style-black.css">
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/js-base64/base64.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type='text/javascript' src="/static/lib/modernizr.min.js"></script>
    <script src="/static/node_modules/toastr/build/toastr.min.js"></script>
    <script src="/static/lib/css3-mediaqueries.min.js"></script>
    <script src="/static/js/index.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="all">
    <nav class="navbar navbar-light" style="background-color: #333333;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-top: -5px; margin-bottom: auto">
                <a class="navbar-brand" href="/"><img src="/static/images/owl3.png" style="height: 150%"></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/">CyberOWL</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Главная</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="/settings">Настройки</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/faq">Справка</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="col-lg-3 col-md-3">
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Инструкция</div>
                <div class="panel-body">


                    <p><i>Запускать утилиту следует от имени администратора</i></p>
                    <p><b>Главная страница:</b></p>
                    <p><i>Ввод данных вручную:</i></p>
                    <p>1. На главной странице в левом блоке вы можете выбрать нужные модули.</p>
                    <p>2. После выбора в разделе «Параметры для модулей» откроется окно выбранного модуля со строками
                        для ввода данных.</p>
                    <p>3. Для того чтобы создать новую строчку для ввода данных нажмите кнопку «Добавить» или клавишу
                        «Enter».</p>
                    <p>4. При заполнении данных в модулях на данный момент необходимо заполнять все поля. Исключения:
                        модули анализа сети и почты.</p>

                    <p><i>Ввод данных автоматически (находится в разработке):</i></p>
                    <p>1. В разделе «Парсинг STIX2 JSON», нажав на кнопку «Открыть», вы можете воспользоваться
                        автоматическим вводом данных, выбрав файл с машиночитаемым бюллетенем.</p>
                    <p>2. После выбора файла нажмите кнопку для отправки.</p>
                    <p><i>Процесс сканирования:</i></p>
                    <p>1. После заполнения нужных вам модулей нужно нажать кнопку «Старт» для начала сканирования.</p>
                    <p>2. Кнопка «Стоп» остановит сканирование, после чего по нажатой кнопке «Старт» вы можете начать
                        новое сканирование.</p>
                    <p>3. Кнопка «Сброс» сбрасывает все введенные ранее данные.</p>
                    <p>4. Оранжевая кнопка в правом верхнем углу полностью завершает работу утилиты.</p>
                    <p>5. Анализ файлов происходит за последние 10 дней.</p>
                    <p>6. Почтовые письма анализируются за последние 14 дней.</p>
                    <p><i>Логи:</i></p>
                    <p>1. В разделе «Логи» в режиме реального времени отображается работа утилиты.</p>

                    <p><i>Результаты сканирования:</i></p>
                    <p>1. После окончания сканирования появляется всплывающее окно с сгруппированными результатами
                        сканирования.</p>
                    <p><b>Настройки:</b></p>
                    <p>1. Перейдя по вкладке страницы «Настройки» вы можете ввести свои учетные данные почты для
                        анализа, а так же настроить время анализа сети.</p>
                    <p>2. Для анализа почты необходимо ввести imap сервер вашей почты, его данные вы можете легко найти
                        в интернете (например, imap.gmail.com, порт 993) . На данный момент работоспособность
                        протестирована с серверами gmail.</p>
                    <p><b>Уведомления:</b></p>
                    <p>1. Зеленый цвет уведомления - сканирование успешно начато/закончено, настройки сохранены на ваш
                        компьютер.</p>
                    <p>2. Красный цвет уведомления - сканирование закончено вручную, ошибка ввода данных.</p>
                    <p>3. Синий цвет уведомления — информационное сообщение.</p>
                    <p>4. Оранжевый цвет уведомления — сообщение о некорректном использовании программы.</p>


                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
        </div>
        <button id="gotop_fab" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    </div>
</body>
</html>