<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>CyberOWL</title>
    <link rel="icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="/static/node_modules/toastr/build/toastr.css">
    <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style-black.css">
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/js-base64/base64.js"></script>
    <script type='text/javascript' src="/static/lib/modernizr.min.js"></script>
    <script src="/static/node_modules/toastr/build/toastr.min.js"></script>
    <script src="/static/lib/css3-mediaqueries.min.js"></script>
    <script src="/static/lib/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/lib/respond.min.js"></script>
    <script src="/static/lib/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div id="fs_wrapper">
    <div class="col-lg-9 col-md-9"></div>
    <div class="col-lg-3 col-md-3">
        <h1 style="text-align: right">Сессия завершена.</h1>
    </div>
</div>
<div id="all">
    <div class="modal fade" id="results_modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
                    <h4 class="modal-title">Результат сканирования</h4>
                </div>
                <div id="rmodal-body" class="modal-body" style="word-wrap: break-word;"></div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-light" style="background-color: #333333;">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-top: -5px; margin-bottom: auto">
                <a class="navbar-brand" href="/"><img src="/static/images/owl3.png" style="height: 150%"></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/" id="cyberowl_tab">CyberOWL</a>
                <a class="navbar-brand" href="/" id="main_tab">Главная</a>
                <a class="navbar-brand" href="/settings" id="settings_tab">Настройки</a>
                <a class="navbar-brand" href="/faq" id="faq_tab">Справка</a>
            </div>
            <p id="ntext" class="navbar-text">Не уходите со страницы во время работы</p>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 0">
                <li data-toggle="tooltip" data-placement="bottom" title="Сканирование....">
                    <img id="loading_gif" src="/static/images/loadinfo2.net.gif"
                         style="height: 100%; pointer-events: none; margin-right: 10px">
                </li>
                <li>
                    <button id="power_off" class="btn btn-warning navbar-btn" data-toggle="tooltip"
                            data-placement="bottom" title="Завершить работу утилиты">
                        <i class="fas fa-power-off" style="color: black"></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="col-lg-2 col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Выберете модули</div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label><input id="files_cb" type="checkbox" value="">Файлы</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="mail_cb" type="checkbox" value="">Почта</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="net_cb" type="checkbox" value="">Сеть</label>
                    </div>
                    <!--<div class="checkbox">-->
                    <!--<label><input id="yara_cb" type="checkbox" value="">YARA-правила</label>-->
                    <!--</div>-->
                    <div class="checkbox" {% if disabled %} style="color: #777" {% endif %}>
                        <label {% if disabled %} disabled data-toggle="tooltip" title="Доступно только для ОС Windows"
                               {% endif %}><input {% if disabled %} disabled {% endif%}
                                                  id="reg_cb" type="checkbox" value="">Реестр</label>
                    </div>
                    <div class="checkbox" {% if disabled %} style="color: #777" {% endif %}>
                        <label {% if disabled %} data-toggle="tooltip" title="Доступно только для ОС Windows"
                               {% endif %}><input {% if disabled %} disabled {% endif%}
                                                  id="ram_cb" type="checkbox" value="">ОЗУ</label>
                    </div>
                    <!--
                    <div class="checkbox ">
                        <label><input id="log_cb" type="checkbox" value="">Логи</label>
                    </div>
                    -->
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Парсинг STIX2 JSON</div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" style="text-align: center">
                        <div class="btn-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file">
                                    <span>Открыть</span>
                                    <input name="file" type="file"/>
                                </span>
                                <button type="submit" class="btn btn-default"><i class="far fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row" style="padding-bottom: 20px; margin-right: 30px; margin-left: 30px">
                        <button id="btn_start" class="btn btn-default btn-block">Старт</button>
                    </div>
                    <div class="row" style="padding-bottom: 20px; margin-right: 30px; margin-left: 30px">
                        <button id="btn_stop" class="btn btn-default btn-block">Стоп</button>
                    </div>
                    <div class="row" style=" margin-right: 30px; margin-left: 30px">
                        <button id="btn_clear" class="btn btn-default btn-block" onclick="reset_all()">Сброс
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">Параметры для модулей</div>
                <div class="panel-body">
                    <div id="panel_files" class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title ">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#el4">Файлы:</a>
                            </h4>
                        </div>
                        <div id="el4" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <p style="text-align: left">
                                        Введите данные о файле и нажмите кнопку "Добавить", чтобы создать новую строчку
                                    </p>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-file"></i></span>
                                        <input id="file_name" type="text" class="form-control" placeholder="Имя">
                                        <div class="input-group-btn">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button"
                                                        data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="btn btn-link"
                                                           onclick="$('#file_name').val('regexp/^[A-zА-я0-9]+\\.\\w+$/')">
                                                            Цифры и буквы
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-link"
                                                           onclick="$('#file_name').val('regexp/^[0-9]+\\.\\w+$/')">
                                                            Цифры
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-link"
                                                           onclick="$('#file_name').val('regexp/^[A-zА-я]+\\.\\w+$/')">
                                                            Буквы
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-link"
                                                           onclick="$('#file_name').val('regexp/^.+$/')">
                                                            Любые символы
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-weight"></i></span>
                                        <input id="file_size" type="text" class="form-control" placeholder="Размер">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">MD5</span>
                                        <input id="file_md5" type="text" class="form-control" placeholder="MD5">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">SHA1</span>
                                        <input id="file_sha1" type="text" class="form-control" placeholder="SHA1">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">SHA256</span>
                                        <input id="file_sha256" type="text" class="form-control" placeholder="SHA256">
                                    </div>
                                    <button id="file_add" type="button" class="btn btn-default"
                                            style="margin-top: 5px; width: 100%">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <ul class="list-group" id="file_list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="panel_mail" class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#el1">Почта:</a>
                            </h4>
                        </div>
                        <div id="el1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <p>Целевые E-mail адреса:</p>
                                    <div class="input-group">
                                        <input id="mail_addr_inp" type="text" class="form-control"
                                               placeholder="Адрес E-mail">
                                        <div class="input-group-btn">
                                            <button id="mail_addr_add" class="btn btn-default">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <ul class="list-group" id="mail_addr_list"></ul>
                                    <p>Тексты целевых E-mails:</p>
                                    <textarea class="form-control" name="mail_text" rows="5" id="mail_txt_inp"
                                              style="width: 100%; resize: vertical;"></textarea>
                                    <button id="mail_txt_add" type="button" class="btn btn-default"
                                            style="width: 100%; margin-top: 3px;">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <ul class="list-group" id="mail_txt_list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="panel_net" class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#el5">Сеть:</a>
                            </h4>
                        </div>
                        <div id="el5" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container-fluid col-lg-6 col-md-6">
                                    <p>Целевые IP адреса:</p>
                                    <div class="input-group">
                                        <input id="net_ip_inp" type="text" class="form-control" placeholder="IP">
                                        <div class="input-group-btn">
                                            <button id="net_ip_add" class="btn btn-default">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <ul class="list-group" id="net_ip_list"></ul>
                                </div>
                                <div class="container-fluid col-lg-6 col-md-6">
                                    <p>Целевые URL адреса:</p>
                                    <div class="input-group">
                                        <input id="net_url_inp" type="text" class="form-control" placeholder="URL">
                                        <div class="input-group-btn">
                                            <button id="net_url_add" class="btn btn-default">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <ul class="list-group" id="net_url_list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="panel_yara" class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#el7">YARA-правила:</a>
                            </h4>
                        </div>
                        <div id="el7" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <textarea class="form-control" name="mail_text" rows="5" id="yara_inp"
                                          style="width: 100%; resize: vertical;"></textarea>
                                <button id="yara_add" type="button" class="btn btn-default"
                                        style="width: 100%; margin-top: 3px;">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <ul class="list-group" id="yara_list"></ul>
                            </div>
                        </div>
                    </div>
                    <div id="panel_reg" class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#el3">Реестр:</a>
                            </h4>
                        </div>
                        <div id="el3" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <p>Целевые записи реестра:</p>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-key"></i></span>
                                        <input id="reg_key" type="text" class="form-control" placeholder="Key">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fas fa-asterisk"></i></span>
                                        <input id="reg_val" type="text" class="form-control" placeholder="Value">
                                    </div>
                                    <button id="reg_add" type="button" class="btn btn-primary"
                                            style="margin-top: 5px; width: 100%">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <ul class="list-group" id="reg_list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="panel_ram" class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#el6">ОЗУ:</a>
                            </h4>
                        </div>
                        <div id="el6" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <p>Целевые процессы:</p>
                                    <div class="input-group">
                                        <input id="ram_inp" type="text" class="form-control" placeholder="Имя процесса">
                                        <div class="input-group-btn">
                                            <button id="ram_add" class="btn btn-default">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <ul class="list-group" id="ram_list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="panel_log" class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#el2">Логи:</a>
                            </h4>
                        </div>
                        <div id="el2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <p>Целевые логи:</p>
                                    <div class="input-group">
                                        <input id="log_inp" type="text" class="form-control" placeholder="Текст лога">
                                        <div class="input-group-btn">
                                            <button id="log_add" class="btn btn-default">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <ul class="list-group" id="log_list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="zeropanel" class="well container-fluid" style="text-align: center">
                        <h4>Чтобы изменить настройки, выберите модули слева</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="btn-group btn-group-xs pull-right">
                        <a id="clearlogsbtn" href="#" class="btn btn-default btn-sm">Очистить
                            <i class="fas fa-eraser"></i></a>
                    </div>
                    Логи
                </div>
                <div class="panel-body">
                    <p id="logs"></p>
                </div>
            </div>
        </div>
        <button id="gotop_fab" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    </div>
</div>
</body>
</html>