<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FinCert</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form method="post" id="main" action="/"></form>
<nav class="navbar navbar-light" style="background-color: #337ab7;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #FFFFFF" href="#" <img src="/images/dellogo.png"> >FinCERT</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #FFFFFF" href="#">Главная</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" class="navbar-brand" style="color: #FFFFFF"
               href="/settings">Настройки</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-lg-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Выберете модули</div>
            <div class="panel-body">
                <div class="checkbox">
                    <label><input type="checkbox" value="">Files</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Mail</label>
                </div>
                <div class="checkbox ">
                    <label><input type="checkbox" value="">Net</label>
                </div>
                <div class="checkbox ">
                    <label><input type="checkbox" value="">Register</label>
                </div>
                <div class="checkbox ">
                    <label><input type="checkbox" value="">RAM</label>
                </div>
                <div class="checkbox ">
                    <label><input type="checkbox" value="">Logs</label>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row" style="padding-bottom: 20px; margin-right: 30px; margin-left: 30px">
                    <button type="button" class="btn btn-info btn-block">PDF</button>
                </div>
                <div class="row" style="padding-bottom: 20px; margin-right: 30px; margin-left: 30px">
                    <button type="submit" form="main" class="btn btn-info btn-block">Start</button>
                </div>
                <div class="row" style=" margin-right: 30px; margin-left: 30px">
                    <button type="button" class="btn btn-info btn-block">Stop</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Параметры для модулей</div>
            <p></p>
            <div class="panel panel-info">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#collapse-group" href="#el4">Files:</a>
                        </h4>
                    </div>
                    <div id="el4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <label for="comment"></label>
                            <div class="form-group">
                                <label for="usr">Name:</label>
                                <input type="text" name="name_file" form="main" class="form-control" id="usr">
                            </div>
                            <div class="form-group">
                                <label for="usr">MD5:</label>
                                <input type="text" name="MD5" form="main" class="form-control" id="usr">
                            </div>
                            <div class="form-group">
                                <label for="usr">SHA1:</label>
                                <input type="text" name="SHA1" form="main" class="form-control" id="usr">
                            </div>
                            <div class="form-group">
                                <label for="usr">SHA256:</label>
                                <input type="text" name="SHA256" form="main" class="form-control" id="usr">
                            </div>
                            <div class="form-group">
                                <label for="usr">Size:</label>
                                <input type="number" class="form-control" id="usr">
                                <div class="row" style="margin-top: 10px; margin-right: 20px; margin-left: 410px">
                                    <button type="button" class="btn btn-info btn-block">Add compromise</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p></p>
            <div class="panel panel-info">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#collapse-group" href="#el1">Mail:</a>
                        </h4>
                    </div>
                    <div id="el1" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="comment">E-mails:</label>
                                <textarea class="form-control" type="input" form="main" name="mail" rows="5" id="comment"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="comment">Text:</label>
                                <textarea class="form-control" type="input" form="main" name="text_mail" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <P></P>
            <div class="panel panel-info">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#collapse-group" href="#el5">Net:</a>
                        </h4>
                    </div>
                    <div id="el5" class="panel-collapse collapse">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="comment">IP:</label>
                                <textarea class="form-control" type="input" form="main" name="ip" rows="5" id="comment"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="comment">URLs:</label>
                                <textarea class="form-control" type="input" form="main" name="URLs" rows="5" id="comment"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="comment">POST/GET:</label>
                                <textarea class="form-control" type="input" form="main" name="post_get" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#collapse-group" href="#el3">Register:</a>
                    </h4>
                </div>
                <div id="el3" class="panel-collapse collapse">
                    <div class="form-group">
                        <label for="usr">Register keys:</label>
                        <div class="form-group"><input type="text" class="form-control" id="usr"></div>
                        <div class="form-group"><input type="text" class="form-control" id="usr"></div>
                        <div class="form-group"><input type="text" class="form-control" id="usr"></div>
                        <div class="form-group"><input type="text" class="form-control" id="usr"></div>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
            <p></p>
            <div class="panel panel-info">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#collapse-group" href="#el6">RAM:</a>
                        </h4>
                    </div>
                    <div id="el6" class="panel-collapse collapse">
                        <div class="form-group">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="comment"></label>
                                    <textarea class="form-control" rows="1" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#collapse-group" href="#el2">Logs:</a>
                    </h4>
                </div>
                <div id="el2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="comment"></label>
                            <textarea class="form-control" rows="1" id="comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-primary" style="padding-left: 1px; padding-right: 1px">
            <div class="panel-heading">Logs</div>
            <div class="panel-body">
                <!--
                <label for="comment"></label>
                <textarea class="form-control" rows="10" id="comment"></textarea>
                -->
                <p></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>