<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>CyberOWL</title>
    <link rel="icon" href="/static/images/icon.ico">
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="/static/node_modules/toastr/build/toastr.css">
    <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style-black.css">
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/js-base64/base64.js"></script>
    <script type='text/javascript' src="/static/lib/modernizr.min.js"></script>
    <script src="/static/node_modules/toastr/build/toastr.min.js"></script>
    <script src="/static/node_modules/fernet/fernetBrowser.js"></script>
    <script src="/static/lib/bootstrap.min.js"></script>
    <script src="/static/js/settings.js"></script>
        <!--[if lt IE 9]>
    <script src="/static/lib/respond.min.js"></script>
    <script src="/static/lib/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #333333;">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-top: -5px; margin-bottom: auto">
            <a class="navbar-brand" style="color: #FFFFFF" href="/"><img src="/static/images/owl3.png"
                                                                         style="height: 150%"></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CyberOWL</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Главная</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/settings">Настройки</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/faq">Справка</a>
        </div>

    </div>
</nav>
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Параметры времени</div>
        <div class="panel-body">
            <h5>Время анализа сети (рекомендуемо 10 минут):</h5>
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-clock"></i> <strong>МИНУТЫ</strong></span>
                <input id="time" type="number" class="form-control"
                       placeholder="Введите время в минутах" min="1"
                       {% if cred.data %} value="{{ cred.snifftime }}" {% else %} value="10" {% endif %}>
            </div>
            <h5>Промежуток дат анализа файлов (рекомендуемо 10 дней):</h5>
            <div class="input-group">
                <span class="input-group-addon"><i class="far fa-calendar-alt"></i> <strong>ДНИ</strong></span>
                <input id="daysf" type="number" class="form-control"
                       placeholder="Введите время в днях" min="1"
                       {% if cred.data %} value="{{ cred.filetime }}" {% else %} value="10" {% endif %}>
            </div>
            <h5>Промежуток дат анализа писем (рекомендуемо 14 дней):</h5>
            <div class="input-group">
                <span class="input-group-addon"><i class="far fa-calendar-plus"></i> <strong>ДНИ</strong></span>
                <input id="daysm" type="number" class="form-control"
                       placeholder="Введите время в днях" min="1"
                       {% if cred.data %} value="{{ cred.mailtime }}" {% else %} value="14" {% endif %}>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Параметры анализа файлов</div>
        <div class="panel-body">
            <h5>Корневой каталог поиска</h5>
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-hashtag"></i></span>
                <input id="rootpath" type="text" class="form-control"
                       placeholder="Путь корневого каталога анализа"
                       {% if cred.data %} value="{{ cred.rootpath }}"
                       {% elif disabled %} value="/"
                       {% else %} value="C:\\" {% endif %}>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Учетные данные почты для анализа</div>
        <div class="panel-body">
            <div class="input-group">
                    <span class="input-group-addon">imap<br>
                      <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="imapsel_dd"></ul>
                      </div>
                    </span>
                <input id="iserver" type="text" class="form-control"
                       placeholder="Сервер" {% if cred.data %} value="{{ cred.imaphost }}" {% endif %}>
                <input id="iport" type="number" class="form-control" min="1"
                       placeholder="Порт (993)" {% if cred.data %} value="{{ cred.imapport }}" {% endif %}>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input data-error="Этот EMail невалиден" id="email" type="email"
                       class="form-control" placeholder="Email"
                       {% if cred.data %} value="{{ cred.cred[0] }}" {% endif %}>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-key"></i></span>
                <input id="password" type="password" class="form-control"
                       placeholder="Пароль">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <button id="save" type="button" class="btn btn-default btn-block" style="font-size: 20px;">
        <strong>Сохранить</strong>
    </button>
</div>
</body>
</html>