<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>ФинЦЕРТ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="/static/css/style-black.css">
    <script type="text/javascript" src="/static/node_modules/js-base64/base64.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/static/lib/css3-mediaqueries.min.js"></script>
    <script src="/static/node_modules/fernet/fernetBrowser.js"></script>
    <script src="/static/js/settings.js"></script>
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #333333;">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-top: -5px; margin-bottom: auto">
            <a class="navbar-brand" style="color: #FFFFFF" href="/"><img src="/static/images/owl3.png"
                                                                         style="height: 150%"></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ФинЦЕРТ</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Главная</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/settings">Настройки</a>
        </div>
    </div>
</nav>
<form id="f1" data-toggle="validator" role="form">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Введите Ваши учетные данные почты для анализа</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">imap<br>
                      <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" id="imapsel_dd"></ul>
                      </div>
                    </span>
                    <input id="iserver" type="text" class="form-control" name="msg"
                           placeholder="Сервер" {% if cred.data %} value="{{ cred.imaphost }}" {% endif %}>
                    <input id="iport" type="number" class="form-control" name="msg" min="1"
                           placeholder="Порт (993)" {% if cred.data %} value="{{ cred.imapport }}" {% endif %}>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input data-error="Этот EMail невалиден" id="email" type="email"
                           class="form-control" name="email" placeholder="Email"
                           {% if cred.data %} value="{{ cred.cred[0] }}" {% endif %}>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password"
                           placeholder="Пароль">
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Время анализа сети в минутах (рекомендуемо 10 минут)</div>
            <div class="panel-body">
                <input id="time" type="number" class="form-control" name="mnt"
                       placeholder="Введите время в минутах" min="1"
                       {% if cred.data %} value="{{ cred.snifftime }}" {% endif %}>
            </div>
        </div>
        <button id="save" type="button" class="btn btn-default btn-block" style="font-size: 20px;">
            <strong>Сохранить</strong>
        </button>
    </div>
    <div class="col-lg-2"></div>
</form>
</body>
</html>