<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="static/node_modules/fernet/fernetBrowser.js"></script>
    <script type="text/javascript" src="static/node_modules/js-base64/base64.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #337ab7;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #FFFFFF" href="/#">Главная</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #FFFFFF"
               href="/settings">Настройки</a>
        </div>
    </div>
</nav>
<form>
    <div class="col-lg-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Введите ваши учетные данные почты для анализа</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">imap</span>
                    <input id="iserver" type="text" class="form-control" name="msg" placeholder="Сервер">
                    <input id="iport" type="text" class="form-control" name="msg" placeholder="Порт">
                </div>
                <p></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <p></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Пароль">
                </div>
                <p></p>
                <button id="save" type="button" class="btn btn-info" style="background-color: #337ab7;">Сохранить</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Время анализа</div>
            <div class="panel-body">
                <input id="time" type="text" class="form-control" name="mnt" placeholder="Введите время в минутах">
            </div>
        </div>
    </div>
</form>
</body>
</html>