<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script type="text/javascript" src="static/node_modules/fernet/fernetBrowser.js"></script>
    <script type="text/javascript" src="static/node_modules/js-base64/base64.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <link rel="stylesheet" href="/static/css/style-black.css">
    <style>
        .toast-top-center {
            top: 12px;
            left: 50%;
            margin-left: -150px;
        }

        @media all and (max-width: 240px) {
            .toast-top-center {
                margin-left: -54px;
            }
        }

        @media all and (min-width: 241px) and (max-width: 320px) {
            .toast-top-center {
                margin-left: -64px;
            }
        }

        @media all and (min-width: 321px) and (max-width: 480px) {
            .toast-top-center {
                margin-left: -96px;
            }
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #333333;">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-top: -5px; margin-bottom: auto">
            <a class="navbar-brand" style="color: #FFFFFF" href="/"><img src="/static/images/owl3.png"
                                                                         style="height: 150%"></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ФинЦЕРТ</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Главная</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Настройки</a>
        </div>
    </div>
</nav>
<form id="f1" data-toggle="validator" role="form">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Введите Ваши учетные данные почты для анализа</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">imap</span>
                    <input id="iserver" type="text" class="form-control" name="msg"
                           placeholder="Сервер" {% if cred.data %} value="{{ cred.imaphost }}" {% endif %}>
                    <input id="iport" type="number" class="form-control" name="msg"
                           placeholder="Порт (993)" {% if cred.data %} value="{{ cred.imapport }}" {% endif %}>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input data-error="Этот EMail невалиден" id="email" type="email"
                           class="form-control" name="email" placeholder="Email"
                           {% if cred.data %} value="{{ cred.cred[0] }}" {% endif %}>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password"
                           placeholder="Пароль">
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Время анализа</div>
            <div class="panel-body">
                <input id="time" type="number" class="form-control" name="mnt"
                       placeholder="Введите время в минутах"
                       {% if cred.data %} value="{{ cred.snifftime }}" {% endif %}>
            </div>
        </div>
        <button id="save" type="button" class="btn btn-default btn-block" style="font-size: 20px;">
            <strong>Сохранить</strong>
        </button>
    </div>
    <div class="col-lg-2"></div>
</form>
</body>
</html>