<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel-body">
    <div class="input-group">
        <input id="msg" type="text" class="form-control" name="msg" placeholder="server">
        <input id="msg" type="text" class="form-control" name="msg" placeholder="port">
    </div>
    <p></p>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <p></p>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <p></p>
    <button type="button" class="btn btn-info" style="background-color: #337ab7;">Сохранить</button>
</div>
<div class="form-group">
    <label for="usr">Size:</label>
    <input type="number" class="form-control" id="usr">
    <div class="row" style="margin-top: 10px; margin-right: 20px; margin-left: 410px">
        <button type="button" class="btn btn-info btn-block">Add compromise</button>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">Size:
        <div class="panel panel-default">
            <div class="panel-body">A Basic Panel</div>
        </div>
    </div>
</div>
</body>
</html>