<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-3" name="searcht">
    <h1 id="h">Search ticket</h1>
    <fieldset id="my_field">
        <p class="field">
            <input type="text" name="anumb" placeholder="Accountnumber"/>
            <i class="icon-user icon-large"></i>
        </p>
        <p class="field">
            <input type="text" name="username" placeholder="Username">
            <i class="icon-user icon-large"></i>
        </p>
        <p class="field">
            <input type="text" name="aname" placeholder="Accountname">
            <i class="icon-user icon-large"></i>
        </p>
        <p class="field">
            <input type="text" name="cpeid" placeholder="CPE ID">
            <i class="icon-user icon-large"></i>
        </p>
        <p class="submit">
            <button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
        </p>
    </fieldset>
</form>

</body>
</html>